<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script type="text/javascript" src="taxApp.js"></script>

</head>
<body>

	<div class="container" ng-app="app">
		<title class="text-center">Personal Information</title>
		<center></center>
		<h1>PERSONAL INFORMATION</h1>
		</center>
		<form name="taxForm" class="form-horizontal" role="form"
			ng-controller="FormController" ng-submit="taxForm.$valid && saveData()" >

			<div class="form-group">
				<label for="name">Name</label> <input type="text"
					class="form-control" id="name" pattern="[a-zA-Z ]{5,}"
					ng-model="data.name" required>
			</div>
			
			<div class="form-group">
				<label for="address">Address</label> <input type="textarea"
					class="form-control" id="address" ng-model="data.address" required>
			</div>
			<div class="form-group">
				<label for="pan">PAN</label> <input type="text" class="form-control"
					id="pan" pattern="[a-zA-Z0-9]{10,}" ng-model="data.pan" required>
			</div>
			<div class="form-group">
				<label for="dob">Date Of Birth</label> <input type="date"
					class="form-control" id="dob" ng-model="data.dateofbirth" required>
			</div>
			<div class="form-group">
				<label for="assYear">Assessment Year</label> <input type="text"
					class="form-control" id="assYear" ng-model="data.assessmentyear"
					required>
			</div>
			<div class="form-group">
				<label for="income">Income</label> <input type="text"
					class="form-control" id="income" pattern="[0-9]" min='20000'
					ng-model="data.income" required>
			</div>
			<div class="form-group">
				<label for="tds">TDS</label> <input type="text" class="form-control"
					id="tds" pattern="[0-9]" ng-model="data.tds" required>
			</div>
			<div class="form-group">
				<label for="taxDeducted">Tax Deducted</label> <input type="text"
					class="form-control" id="taxDeducted" pattern="[0-9]"
					ng-model="data.taxdeducted" required>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-default" X>Save</button>
				<button type="reset" class="btn btn-default">Cancel</button>
			</div>
		</form>
		<div id="xml_data"></div>
	</div>

</body>
</html>